@font-face {
    font-family: projFont;
    src: url(../../../../font/Noir-pro/NoirPro-Light.otf);
}

.add-event {
    padding: 2rem;

    .back {
        color: #414042;
        font-weight: 600;
        cursor: pointer;

        i {
            margin-right: 10px;
            color: #414042;
            transform: translateY(1px);
        }
    }

    form {
        background: #FEFEFE;
        border-radius: 8px;
        padding: 1.5rem 3rem;
        margin-top: 1rem;

        .top {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .title {
                font-size: 22px;
                color: #414042;
                font-weight: 600;
                padding-bottom: 5px;
                border-bottom: 2px solid #03A1C6;
            }
            .btns {
                display: flex;
                gap: 1.5rem;
                align-items: center;

                .preview {
                    color: #026B84;
                    font-weight: 600;
                }

                button {
                    margin-top: 5px;
                    border: none;
                    cursor: pointer;
                    padding: 10px 16px;
                    color: #FEFEFE;
                    background: #03A1C6;
                    border-radius: 5px;
                    transition: 250ms ease;
        
                    &:hover {
                        background-color: #00728c;
                    }
        
                }
            }
        }

        .sp {
            margin-top: 2rem !important;
        }

        .file {
            border: 0.5px dashed #AAC5CC !important;
        }

        .input {
            margin-top: 1.5rem;

            label {
                color: #828282;
                font-weight: 600;

                span {
                    color: crimson;
                    margin-left: 3px;
                }
            }
            input,
            textarea,
            select {
                margin-top: .5rem;
                width: 100%;
                padding: 16px;
                background: #F9F9F9;
                border: 0.5px solid #AAC5CC;
                box-sizing: border-box;
                border-radius: 6px;
                outline: none;
                font-family: projFont;
            }
        }
    }
}

