.contactx {
    padding: 3rem;

    .first {
        margin-bottom: 1rem;
        display: flex;
        align-items: center;
        gap: 4rem;
        flex-wrap: wrap;

        .pt {

            .label {
                color: #AAC5CC;
                margin-bottom: .4rem;
            }

            .pts {
                margin-bottom: .6rem;
                margin-top: .8rem;

                .labelx {
                    color: #828282;
                    margin-right: 10px;
                    margin-bottom: 10px;
                }
                .val {
                    color: #414042;
                }
            }
            
        }
    }
}