.dashboard-landing {
    position: relative;
    width: 100%;
    padding-left: 1rem;

    .left {
        margin-right: 300px;
        padding: 3rem 20px 1rem 5px;
    }
    .right {
        
    }
}