.custom {
  position: fixed;
  width: 100vw;
  left: 0;
  top: 0;
  z-index: 12;
  height: 100vh;
  animation: fadeIn 150ms linear 1;
  background-color: rgba(0, 0, 0, 0.3);

  .wrapper {
    width: 100vw;
    left: 0;
    top: 0;
    height: 100vh;
    position: relative;

    .modal {
      width: 800px;
      box-shadow: 0px 18px 36px #00000017;
      background: #f9f9f9;
      box-shadow: 0px 4px 8px rgba(65, 64, 66, 0.08);
      border-radius: 8px;
      position: absolute;
      top: 50%;
      left: 50%;
      padding: 1rem;
      transform: translate(-50%, -50%);

      .top {
        display: flex;
        justify-content: flex-end;
        padding: .5rem 1rem;

        .backx {
            color: #03a1c6;
            font-weight: 600;
            cursor: pointer;
    
            i {
                margin-right: 10px;
                color: #03A1C6;
                transform: translateY(1px);
            }
        }

        .close {
          color: #03a1c6;
          font-weight: 600;
          cursor: pointer;
        }
      }
      .bottom {
          padding: 0 4rem;
          margin-top: 2rem;

          form {
              margin-top: 2rem;
              padding: 0 5rem;

              .xx {
                outline: none;
                border: none;
                color: #fff;
                width: 100%;
                border-radius: 4px;
                padding: 1.2rem;
                background: #03A1C6;
                cursor: pointer;
                letter-spacing: .1em;
                font-weight: 600;
                box-shadow: 0px 4px 8px rgba(1, 32, 40, 0.3);
                font-family: projFont;
                margin-bottom: 3rem;
                margin-top: 1rem;
                transition: 250ms ease;

                &:hover {
                    background-color: #0084a2;
                }
              }

            .input {
                margin-bottom: 1.5rem;
                position: relative;

                .forgot {
                    display: flex; 
                    justify-content: flex-end;
                    margin-top: .5rem;
                    cursor: pointer;
                    color: #03A1C6;
                }
    
                i {
                    position: absolute;
                    right: 3%;
                    top: 45%;
                    color: gray;
                }
    
                label {
                    font-weight: 600;
                    color: #03A1C6;
                }
                input {
                    padding: 1.2rem;
                    width: 100%;
                    margin-top: .5rem;
                    outline: none;
                    background: #FEFEFE;
                    border: 0.5px solid #AAC5CC;
                    box-sizing: border-box;
                    border-radius: 6px;
    
                    &::placeholder {
                        color: #848484;
                    }
                }
            }
          }

          .btns {
              margin-top: 3rem;

            .ix {
                outline: none;
                border: none;
                width: 100%;
                border-radius: 4px;
                padding: 1.2rem;
                color: #03A1C6;
                background-color: #FEFEFE;
                cursor: pointer;
                letter-spacing: .1em;
                font-weight: 600;
                font-family: projFont;
                margin-bottom: 1.3rem;
                transition: 250ms ease;
                box-shadow: 0px 4px 8px rgba(65, 64, 66, 0.08);

                &:hover {
                    background-color: #0084a2;
                    color: #FEFEFE;
                }
            }
            .ox {
                outline: none;
                border: none;
                color: #fff;
                width: 100%;
                border-radius: 4px;
                padding: 1.2rem;
                background: #03A1C6;
                cursor: pointer;
                letter-spacing: .1em;
                font-weight: 600;
                box-shadow: 0px 4px 8px rgba(1, 32, 40, 0.3);
                font-family: projFont;
                margin-bottom: 3rem;
                transition: 250ms ease;

                &:hover {
                    background-color: #0084a2;
                }
            }
          }

        .title {
          color: #03a1c6;
          font-weight: 600;
          font-size: 1.4rem;
          margin-bottom: 0.4rem;
        }
        .para {
          color: #03a1c6;
          line-height: 1.6;
        }
      }
    }
  }
}

@media screen and (max-width:840px) {
    .custom {
      .wrapper {
        .modal {
          width: 95%;

          .top {
            padding: .5rem 0;
          }
          .bottom {
            padding: 0;

            form {
              padding: 0;
            }
          }
        }
      }
    }
}