@font-face {
    font-family: projFont;
    src: url(../../../font/Noir-pro/NoirPro-Light.otf);
}



.vol {
    .title {
        color: #414042;
        font-size: 24px;
        font-weight: 700;
        margin: 6px 0;
    }
    .nav {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #E0E0E0;
        border-bottom: 1px solid #E0E0E0;
        margin: 15px 0 20px 0;
        width: 100%;

        li {
            list-style: none;
            flex: 1 1 50%;
            cursor: pointer;
            transition: 250ms ease;
            padding: .8rem 1.5rem;
            color: #414042;
            font-weight: 600;
        }

        .active {
            background-color: #FEFEFE;
            border-bottom: 2px solid #03A1C6;
        }
    }
    .btm-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 15px;

        .left {
            p {
                background: #FEFEFE;
                border: 1px solid #AAC5CC;
                box-sizing: border-box;
                border-radius: 4px;
                padding: 10px;
                color: #414042;;
            }
        }

        ul {
            display: flex;
            align-items: center;
            gap: 20px;

            li {
                list-style: none;
                color: #414042;
                cursor: pointer;

                &:first-child,
                &:last-child {
                    background: #FEFEFE;
                    border: 1px solid #BDBDBD;
                    box-sizing: border-box;
                    border-radius: 4px;
                    padding: 6px 12px;
                }
            }
        }
    }
    .top-row {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .left {
            .input {
                position: relative;
                img {
                    position: absolute;
                    top: 27%;
                    left: 3%;
                }
                input {
                    padding: 12px 12px 12px 45px;
                    outline: none;
                    background: #FEFEFE;
                    border: 1px solid #E0E0E0;
                    box-sizing: border-box;
                    border-radius: 6px;
                    font-weight: 600;
                    width: 400px;
                    font-family: projFont;
                }
            }
        }
        .right {
            display: flex;
            justify-content: flex-end;
            gap: 10px;

            button {
                    padding: 11px;
                    outline: none;
                    background: #FEFEFE;
                    border: 1px solid #E0E0E0;
                    box-sizing: border-box;
                    border-radius: 6px;
                    font-weight: 600;
                    font-family: projFont;
                    cursor: pointer;
                    color: #ffffff;
                    background-color: #03A1C6;
                    font-family: projFont;

                    i {
                        margin-right: 7px;
                    }
            }
        }
    }
    .volunteers {
        background-color: #FEFEFE;
        margin-top: 10px;

        .unshift {
            padding: 0;
        }
    
        table {
            width: 100%;
            padding: 0 1rem;
    
            .label-row {
                background: #FEFEFE;
                box-shadow: 0px 2px 4px rgba(65, 64, 66, 0.04);
                .lefty {
                    padding-left: 10px;
                }
                td {
                    padding: .7rem .2rem;
                    color: #828282;

                    input {
                        transform: scale(1.4);
                        cursor: pointer;
                    }
                }
            }
            #unopened {
                background-color: #F5FBFD;
            }
            .content-row {
                background: #FEFEFE;
                box-shadow: 0px 2px 4px rgba(65, 64, 66, 0.04);
    

                .lefty {
                    padding-left: 10px;
                }
                
                td {
                    padding: .9rem .2rem;
                    color: #414042;
                    font-weight: 600;
                    font-size: 15px;

                    .closed {
                        padding: 5px 15px;
                        width: fit-content;
                        border-radius: 6px;
                        background-color: #F2F2F2;
                        color: #828282 !important;
                    }
                    .open {
                        padding: 5px 15px;
                        width: fit-content;
                        border-radius: 6px;
                        background-color: #F5FBFD !important;
                        color: #57C0D9 !important;
                    }

                    

                    input {
                        transform: scale(1.4);
                        cursor: pointer;
                    }
    
                    i {
                        color: #BDBDBD;
                        cursor: pointer;
                    }
    
                    .review {
                        color: #03A1C6;
                        cursor: pointer;
                    }
    
                    .status {
                        font-size: 14px;
                        box-sizing: border-box;
                        padding: 5px 7px;
                        border-radius: 8px;
                        width: fit-content;
                        background-color: #FCF6FD;
                    }
                    .assessing {
                        color: #CA27FF;
                        border: 1px solid #CA27FF;
                    }
                    .pending {
                        color: #A6982F;
                        border: 1px solid #A6982F;
                    }
                    .approved {
                        color: #2DA879;
                        border: 1px solid #2DA879;
                    }
                    .denied {
                        color: #EB5757;
                        border: 1px solid #EB5757;
                    }
                    
                    
    
                    .img-name {
                        display: flex;
                        align-items: center;
    
                        img {
                            margin-left: 10px;
                        }
    
                        .name {
                            margin-left: 30px;
                        }
                    }
                }
            }
        }
    }
}
